{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>Logviewer</h1>
        <h5 class="header col s12 light grey-text">This site is used to display Modmail log entries.</h5>
        <br>
        <div class="row center">
            <a href="https://discord.gg/EJxyU5sD" class="btn waves-effect my-button">Discord server</a>
            <a href="mailto:kwstantinos.papoutsis@gmail.com" class="btn waves-effect my-button">Επικοινωνία με προγραμματιστή</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
